.CardDisplay {
  position: absolute;
  display: grid;
  margin-top: 2rem;
  padding: 1em;
  gap: 1em;
  /* max-width: 1440px; */
  /* background-color: #23272f; */
  width: 100%;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-auto-flow: row;
}

@media only screen and (max-width: 900px) {
  .CardDisplay {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
