.ViewSnippet {
  position: relative;
  margin: 0 auto;
  top: 5px;
  width: 75%;
  height: auto;
  background-color: #343a46;
  border-radius: 10px;
  padding: 2em;
}
pre,
code {
  font-family: "JetBrains Mono";
  background-color: #23272f;
  border-radius: 5px;
  color: #087ea4;
}
pre {
  overflow: auto;
}
pre > code {
  display: block;
  padding: 1rem;
  word-wrap: normal;
}
