.ViewSnippet {
  position: relative;
  margin: 0 auto;
  top: 5px;
  width: 75%;
  height: 700px;
  background-color: rgba(255, 166, 0, 1);
}
pre,
code {
  font-family: monospace, monospace;
  background-color: antiquewhite;
}
pre {
  overflow: auto;
}
pre > code {
  display: block;
  padding: 1rem;
  word-wrap: normal;
}
