.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #23272f;
  color: #e8eef2;
}

.utils {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1em;
}

.main-content {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  height: 100%;
}

.modal-container,
.view-snippet-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
}

.card-display-wrapper {
  position: relative;
  width: 100%;
}
