.CommentForm {
  width: 300px;
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

p {
  margin: 0;
}

input,
textarea {
  width: 100%;
  border-radius: 5px;
  outline: 1px solid black;
  border: none;
}

input {
  height: 30px;
}
textarea {
  height: 100px;
  resize: none;
}

.form-buttons {
  align-self: center;
  text-align: center;
  width: 100px;
}
