.Modal {
  position: relative;
  margin: 0 auto;
  top: 5px;
  width: 75%;
  height: 700px;
  background-color: #343a46;
  border-radius: 10px;
  padding: 2em;
  transition: all 200ms ease-in;
}

@media only screen and (max-width: 900px) {
  .Modal {
    width: 100%;
  }
}
