@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,100&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  min-height: 100vh;
  font-size: 62.5%;
}
html,
body {
  padding: 0;
  margin: 0;
}
body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
}

#root {
  background-color: #23272f;
  min-height: 100vh;
}

pre,
code {
  font-family: "JetBrains Mono";
  background-color: #23272f;
  border-radius: 5px;
  color: #087ea4;
}
pre {
  overflow: auto;
}
pre > code {
  display: block;
  padding: 1rem;
  word-wrap: normal;
}
