*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  min-height: 100vh;
  font-size: 62.5%;
}
html,
body {
  padding: 0;
  margin: 0;
}
body {
  font-size: 1.6rem;
}

#root {
  background-color: #23272f;
  min-height: 100vh;
}

/* body > #root > div {
  height: 100vh;
} */
